<div class="about-container row">
    <!-- FOTO, NOMBRE, CATEGORIA (parte izq)-->
    <!-- con col-3 hacemo que ocupe 3 columnas de bootstrap-->
    <div class="qualification-container col-3">
        <img class="faceImg img-fluid" src="{{ face }}" alt="Imagen de perfil" width="250">
        <h2 class="name text-center">Informática</h2>
        <p class="qualification text-center">
            Full Stack Web Developer
        </p>
    </div>
    <!-- Texto (parte der)-->
    <!-- con col-9 hacemo que ocupe 9 columnas de bootstrap-->
    <div class="text-about col-9">
        <h3 class="section-title">Sobre Mí</h3>
        <p class="about-description text-justify">I am a graduate in Computer Engineering with a specialization in Software Engineering from the University of Granada. I just have developed an Android application with Java.
            I have a strong passion for exploring new tools and staying up-to-date with the latest industry trends. I am proficient in various programming languages like Java, C++, HTML, CSS. Also, I have gained extensive experience in agile methodologies like SCRUM and their practical application. My primary interest lies in front-end development, and I adapt seamlessly to different roles and responsibilities.
            I am thrilled to continue growing professionally and contribute to the success of challenging software development projects!</p>
    </div>
</div>